* {}

.rounded-bottom.mdb-color.lighten-3.text-center.pt-3.chucnangface {
    padding-bottom: 1px;
}

p.card-text.cmtface {
    text-align: center;
    font-size: 14px !important;
    font-style: italic;
}
.list-unstyled{
    padding-bottom: 16px;
    margin-bottom: 0px;
}
h4.mypham {
    font-size: 22px;
    color: #eb6e8c;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3% !important;
}

.morer {
    text-align: center;
    margin-top: 2%;
}

button.btn.btn-success.waves-effect.waves-light {
    background-color: #eb6e8c !important;
}

button.btn.btn-success.waves-effect.waves-light {
    margin: auto;
}

._mainface .row {
    margin-top: 2%;
}

h4.card-title {
    text-align: center !important;
    font-size: 16px;
    font-weight: bold !important;
}

._mainface {
    margin-top: 8%;
}