* {}

h4.mypham {
    font-size: 22px;
    color: #eb6e8c;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3% !important;
}
.list-unstyled{
    padding-bottom: 16px;
    margin-bottom: 0px;
}
.morer {
    text-align: center;
    margin-top: 4%;
}

button.btn.btn-success.waves-effect.waves-light {
    background-color: #eb6e8c !important;
}

button.btn.btn-success.waves-effect.waves-light {
    margin: auto;
}

._mainface .row {
    margin-top: 2%;
}

h4.card-title {
    text-align: center !important;
    font-size: 16px;
    font-weight: bold !important;
}

._mainface {
    margin-top: 8%;
}